<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>
	
</title>

<!-- Load JS -->
<script type="text/javascript" src="../js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>

<!-- Load CSS -->
<link rel="stylesheet" href="../css/bootstrap.css"/>
<link rel="stylesheet" href="../css/bootstrap-theme.css"/>
<link rel="stylesheet" href="../css/custom.css"/>

</head>

<body>
<!--  HEADER --------------------------------------------------------------------------------------------------------------->
	<div class="fluid-container">

<!-- END OF HEADER  ------------------------------------------------->

<!--  CONTENT -------------------------------------------------------------------------------------------------------------->

<div class="container" style="min-height:400px;">
    <div class="col-xs-12 breadcrumbs">
        <a href="/"><i class="glyphicon glyphicon-home"></i></a>
        <span style="margin-left:10px;"> > </span>
        <span style="margin-left:10px;"> Sign Up </span>
    </div>
<form class="form-horizontal" role="form" method="POST" action="register">
  <h3>Daftar Member Baru</h3>

        <div class="col-sm-3 inputan-title align-right">Nama</div>
        <div class="col-sm-9 inputan"><input id="name" type="text" name="name" value="" class="form-control"/></div>
            <!-- <span style="color:red;">
                <strong></strong>
            </span> -->

        <div class="col-sm-3 inputan-title align-right">Email</div>
        <div class="col-sm-9 inputan"><input id="email" type="email" name="email" value="" class="form-control"/></div>
            <!-- <span style="color:red;">
                <strong></strong>
            </span> -->

            <div class="col-sm-3 inputan-title align-right">No HP</div>
        <div class="col-sm-9 inputan">
            <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Indonesia(+62) <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Indonesia (+62)</a></li>
              <li><a href="#">Singapore (+65)</a></li>
              <li><a href="#">Australia (+641)</a></li>
            </ul>
          </div><!-- /btn-group -->
          <input type="text" id="no_hp" name="no_hp" class="form-control" aria-label="...">
        </div>
        </div>
            <!-- <span style="color:red;">
                <strong></strong>
            </span> -->
        
        <div class="col-sm-3 inputan-title align-right">Tanggal Lahir</div>
        <div class="col-sm-9 inputan"><input id="dob" type="date" name="dob" value="" class="form-control"/></div>
            <!-- <span style="color:red;">
                <strong></strong>
            </span> -->
        
        <div class="col-sm-3 inputan-title align-right">Jenis Kelamin</div>
        <div class="col-sm-9 inputan"><input type="radio" name="gender" value="Laki-laki"> Laki-laki<br>
        <input type="radio" name="gender" value="Perempuan"> Perempuan<br></div>
        
            <!-- <span style="color:red;">
                <strong></strong>
            </span> -->
        
        <div class="col-sm-3 inputan-title align-right">Username</div>
        <div class="col-sm-9 inputan"><input id="name" type="text" name="username" value="" class="form-control"/></div>
            <!-- <span style="color:red;">
                <strong></strong>
            </span> -->

        <div class="col-sm-3 inputan-title align-right">Password</div>
        <div class="col-sm-9 inputan"><input id="password" type="password" name="password" class="form-control"/></div>
            <!-- <span style="color:red;">
                <strong></strong>
            </span> -->

        <div class="col-sm-3 inputan-title align-right">Konfirmasi Password</div>
        <div class="col-sm-9 inputan"><input id="password-confirm" type="password" name="password_confirmation" class="form-control"/></div>
            <!-- <span style="color:red;">
                <strong></strong>
            </span> -->

        <div class="col-sm-3 inputan-title align-right"></div>
        <div class="col-sm-9 inputan">
            <button class="button_login" type="submit"> <i class="glyphicon glyphicon-log-in" style="margin-right:10px;"></i>Daftar</button>
        </div>
</form>

</div>

<!--  END OF CONTENT -------------------------------------------------------------------------------------------------------------->

<!--  FOOTER --------------------------------------------------------------------------------------------------------------->
<div class="fluid-container" style="padding-top:20px; border-top:2px solid #eee;">
    <div class="container">
        <div class="col-sm-3 col-xs-12">
            <p class="footer_title">Panduan</p>
            <div style="margin-left:20px; margin-top:10px;">
                <p><a href="#">Tentang Kami</a></p>
                <p><a href="#">Syarat & Ketentuan</a></p>
                <p><a href="#">Cara Pembelian & Pembayaran</a></p>
                <p><a href="#">Cara Penjualan</a></p>
                <p><a href="#">Pengiriman</a></p>
                <p><a href="#">Privacy & Policy</a></p>
                <p><a href="#">Hubungi Kami</a></p>
                <p><a href="#">Help</a></p>
            </div>
        </div>

        <div class="col-sm-3 col-xs-12">
            <p class="footer_title">Sosial Media</p>
            <div style="margin-top:10px;">
                <a href="#" style="float:left;"><img src="../img/social_media/fb.png" height="35"/></a>
                <a href="#" style="float:left; margin-left:3px;"><img src="../img/social_media/twitter.png" height="35"/></a>
                <a href="#" style="float:left; margin-left:3px;"><img src="../img/social_media/instagram.png" height="35"/></a>
                <a href="#" style="float:left; margin-left:3px;"><img src="../img/social_media/google.png" height="35"/></a>
            </div>
        </div>

        <div class="col-sm-3 col-xs-123">
            <p class="footer_title">Metode Pembayaran</p>
            <div style="margin-top:10px;">
                <a href="#" style="float:left;"><img src="../img/bank_provider/bni.png" height="18"/></a>
                <a href="#" style="float:left; margin-left:10px;"><img src="../img/bank_provider/bca.png" height="18"/></a>
                <a href="#" style="float:left; margin-left:10px;"><img src="../img/bank_provider/bri.png" height="18"/></a>
                <br/><br/>
                <a href="#" style="float:left;"><img src="../img/bank_provider/mandiri.png" height="18"/></a>
                <a href="#" style="float:left; margin-left:10px; margin-top:4px;"><img src="../img/bank_provider/niaga.png" height="12"/></a>
                <a href="#" style="float:left; margin-left:10px;"><img src="../img/bank_provider/telkomsel.png" height="18"/></a>
                <br/><br/>
                <a href="#" style="float:left;"><img src="../img/bank_provider/xl.png" height="30"/></a>
                <a href="#" style="float:left; margin-left:10px;"><img src="../img/bank_provider/im3.png" height="30"/></a>
            </div>
        </div>

        <div class="col-sm-3 col-xs-12">
            <p class="footer_title">Jasa Pengiriman</p>
            <div style="margin-top:10px;">
                <a href="#" style="float:left;"><img src="../img/exp/tiki.png" height="20"/></a>
                <a href="#" style="float:left; margin-left:10px;"><img src="../img/exp/jne.png" height="20"/></a>
                <br/><br/>
                <a href="#" style="float:left;"><img src="../img/exp/jnt.png" height="17"/></a>
            </div>
        </div>

        <div class="col-xs-12" style="border-top:1px solid #ddd; margin:10px 0 10px 0; padding-top:10px; text-align:center;">
            <p> &copy; 2017 Bakoelgame </p>
        </div>
    </div>
</div>

<!--  END OF FOOTER --------------------------------------------------------------------------------------------------------------->

<script type="text/javascript">

$(function () {
    $('[rel="popover"]').popover({
        container: 'body',
        html : true,
        content: function() {
            var clone = $($(this).data('popover-content')).clone(true).removeClass('hide');
        return clone;
        }
}).click(function(e) {
    e.preventDefault();
    });
})
</script>

</body>
</html>
